<footer class="footer">
    <div class="footerInfo">
      <section class="footer-box">
        <i class="fas fa-credit-card"></i>
        <h3>Paga con tarjeta o Efectivo</h3>
        <p>Ahora podes comprar con cualquier metodo de pago</p>
      </section>
      <section class="footer-box">
        <i class="fas fa-boxes"></i>
        <h3>Envio gratis con Mercado pago</h3>
        <p>Excepto para Tierra del Fuego</p>
      </section>
      <section class="footer-box">
        <i class="fas fa-shield-alt"></i>
        <h3>Seguridad en cada compra</h3>
        <p>No es lo que buscabas? Devolvelo sin problema</p>
      </section>

    </div>
    <div class="sub-footer">
      <div class="container">
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
      </div>
    </div>
  </footer>
</html>
