<header class="header">
    <div class="head-top">
      <div class="imageLogo">
        <img  src="/images/img/logo-mercado-liebre.svg" alt="image" >
      </div>
      
      <input type="text" class="search" placeholder="Buscar productos, marcas y mas...">
      <div class="icono">
        <i class="fas fa-hand-holding-usd"></i>
        <p>Compra lo que necesites</p>
      </div>
    </div>
    <div class="head-botton" >
        <div class="bottonLeft">
            <i class="fas fa-map-marker-alt"></i>
            <p>Envios a Capital</p>
        </div>
        <div class="bottonCenter" >
            <nav>
                <a href="">Categorias</a>
                <a href="">Ofertas</a>
                <a href="">Historial</a>
                <a href="">Vender</a>
                <a href="">Ayuda</a>
            </nav>
        </div>
        <div class="bottonRight" >
            <nav>
                <a href="">Crea tu cuenta</a>
                <a href="">Ingresa</a>
                <a href="">Mis compras <i class="fas fa-shopping-cart"></i> </a>
            </nav>
        </div>

    </div>
  </header>