*{
  margin: 0px;
  
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(214, 214, 214);
}

a {
  color: darkblue;
}

.header{
  background-color: rgba(248, 248, 76, 0.911);
}

.head-top{
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
}

.imageLogo{
  width: 15%;
}

.search{
  width: 45%;
  height: 5%;
  text-align: center;
  border: 1px solid gray ;
  border-radius: 5px;
}

.icono{
  width: 25%;
  display: flex;
  align-items: center;
}

.icono i{
  margin-right: 5%;
}


/* Header abajo */

.head-botton{
  display: flex;
  padding-bottom: 1%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bottonLeft{
  width: 15%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottonCenter{
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.bottonRight{
  
  width: 30%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Body */

.bannerImage{
  width: 100%;
}


/* Cards de pago */

.Cards{
  margin: 4% 2%;
  padding: 2%;
  display: flex;
  width: 92%;
  background-color: white;
  justify-content: space-between;
}

.box{
  width: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box i{
  margin-right: 5px;
  color: darkblue;
}

/* Offers */

.offers{
  display: flex;
  flex-wrap: wrap;
}

.latest{
  display: flex;
  flex-wrap: wrap;
}

.offersTitle{
  margin: 1% 2%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.latestTitle{
  margin: 1% 2%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.offersTitle a{
  margin-left: 2%;
}

.latestTitle a{
  margin-left: 2%;
}

.offersCards{
  margin: 1% 2%;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.latestCards{
  margin: 1% 2%;
  width: 20%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.offersCardsImage{
  width: 100%;
  border-bottom: darkgrey;
}

.latestCardsImage{
  width: 100%;
  border-bottom: darkgrey;
}

.offersCards p{
  padding: 2px;
}

.latestCards p{
  padding: 2px;
}

.headDescription{
  padding: 5px;
  border-bottom: 1px solid lightgray;
}

.price{
  font-size: 1.5em;
  font-weight: 200;
  color: darkblue;
}

.off{
  color: green;
}

.offersInfo{
  
  padding: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.latestInfo{
  padding: 15px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.description{
  font-size: 1em;
  width: 100%;
  color: var(--gray);
  transition: 300ms;
  overflow: hidden;
}

.offersCards:hover {
  box-shadow: 0 0 5px rgba(83, 83, 83, 0.5);
  visibility: visible;
}

.latestCards:hover {
  box-shadow: 0 0 5px rgba(83, 83, 83, 0.5);
  visibility: visible;
}

.offersInfo:hover{
  visibility: visible;
}

.latestInfo:hover{
  visibility: visible;
}

.description:hover  {
  height: 40px;
  margin-top: 15px;
}


/* Footer */

.footerInfo{
  background-color: white;
  display: flex;
}

.footer-box{
  margin: 2% 2%;
  padding: 10px;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-box i{
  font-size: x-large;
  width: 100%;
  padding: 20px;
}

.footer-box p{
  font-size: 0.8em;
  color: rgb(100, 99, 99);
}

.container{
  background-color: white;
}