*{
  margin: 0px;
  
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgb(214, 214, 214);
}

a {
  color: darkblue;
}

.header{
  background-color: rgba(248, 248, 76, 0.911);
}

.head-top{
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
}

.imageLogo{
  width: 15%;
}

.search{
  width: 45%;
  height: 5%;
  text-align: center;
  border: 1px solid gray ;
  border-radius: 5px;
}

.icono{
  width: 25%;
  display: flex;
  align-items: center;
}

.icono i{
  margin-right: 5%;
}


/* Header abajo */

.head-botton{
  display: flex;
  padding-bottom: 1%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.bottonLeft{
  width: 15%;
  margin-left: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bottonCenter{
  width: 45%;
  display: flex;
  justify-content: space-around;
}

.bottonRight{
  
  width: 30%;
  margin-right: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Body */

.bannerImage{
  width: 100%;
}


/* Cards de pago */

.Cards{
  margin: 4% 0%;
  padding: 2%;
  display: flex;
  width: 100%;
  background-color: honeydew;
  justify-content: space-between;
}

.box{
  width: 25%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.box i{
  margin-right: 5px;
  color: darkblue;
}