<%- include('./partials/head') %>
<%- include('./partials/header') %>  


<body class="body-register">
    <h3>Editando el usuario <%=idUser%></h3>
    <div class="form-body">
        <form class="form-boxes" action="/edit/id?_method=PUT" method="POST">
            <div class="form-box">
                <label class="form-box-label"  for="name">Nombre</label>
                <input class="form-box-input" type="text" id="name" name="name">
            </div>
            <div class="form-box">
                <label class="form-box-label" for="lastname">Apellido</label>
                <input class="form-box-input" type="text" id="lastname" name="lastname">
            </div>
            <div class="form-box">
                <label class="form-box-label" for="dni">DNI</label>
                <input class="form-box-input" type="number" id="dni" name="dni">
            </div>
            <div class="form-box"></div>
            <div class="form-box">
                <label class="form-box-label" for="mail">E-mail</label>
                <input class="form-box-input" type="email" id="mail" name="mail">
            </div>
            <div class="form-box">
                <label class="form-box-label" for="pass">Clave</label>
                <input class="form-box-input" type="password" id="pass" name="pass">
            </div>
            
            <input class="button" type="submit" value="Registrarse">
            
        </form>


    </div>
    
    
</body>

<%- include('./partials/footer') %>