

<%- include('./partials/head') %>
<%- include('./partials/header') %>  

<body>
    <div class="error">
        <h1 style="color: red;" >Error bro</h1>
    </div>
    
</body>

<%- include('./partials/footer') %>