<%- include('./partials/head') %>
<%- include('./partials/header') %>  

  <body>
    <div class="banner" >
      <img class="bannerImage" src="/images/img/img-home-banner.jpg" alt="">
    </div>
    <div class="Cards" >
      <div class="box" >
        <i class="fas fa-credit-card"></i>
        <div>
          <h3>Tarjeta de credito</h3>
          <a href="">Ver promociones bancarias</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-credit-card"></i>
        <div>
          <h3>Tarjeta de debito</h3>
          <a href="">Ver promociones bancarias</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-money-bill-alt"></i>
        <div>
          <h3>Efectivo</h3>
          <a href="">Ver mas</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-plus-circle"></i>
        <div>
          <h3>Mas medios de pago</h3>
          <a href="">Ver todos</a>
        </div>
      </div>
    </div>
    
  </body>
</html>
