<%- include('./partials/head') %>
<%- include('./partials/header') %>  

  <body>
    <div class="banner" >
      <img class="bannerImage" src="/images/img/img-home-banner.jpg" alt="">
    </div>

    <!-- Cards de pago -->

    <div class="Cards" >
      <div class="box" >
        <i class="fas fa-credit-card"></i>
        <div>
          <h3>Tarjeta de credito</h3>
          <a href="">Ver promociones bancarias</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-credit-card"></i>
        <div>
          <h3>Tarjeta de debito</h3>
          <a href="">Ver promociones bancarias</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-money-bill-alt"></i>
        <div>
          <h3>Efectivo</h3>
          <a href="">Ver mas</a>
        </div>
      </div>
      <div class="box" >
        <i class="fas fa-plus-circle"></i>
        <div>
          <h3>Mas medios de pago</h3>
          <a href="">Ver todos</a>
        </div>
      </div>
    </div>

    <!-- Ofertas -->
    <div class="offers">
      <div class="offersTitle">
        <h2>Ofertas</h2>
        <a href="">Ver mas</a>
      </div>
      <div class="offersCards">
        <img class="offersCardsImage" src="/images/img/products/img-apple-magic-keyboard.jpg" alt="">
        <div>
          <p class="price">$41.500</p>
          <p class="off">%15 OFF</p>
          <p>Envio gratis</p>
          <p class="description">Teclado Apple ultima generacion</p>
        </div>
      </div>
      <div class="offersCards">
        <img class="offersCardsImage" src="/images/img/products/img-apple-magic-keyboard.jpg" alt="">
        <div>
          <p class="price">$41.500</p>
          <p class="off">%15 OFF</p>
          <p>Envio gratis</p>
          <p class="description">Teclado Apple ultima generacion</p>
        </div>
      </div>
      <div class="offersCards">
        <img class="offersCardsImage" src="/images/img/products/img-apple-magic-keyboard.jpg" alt="">
        <div>
          <p class="price">$41.500</p>
          <p class="off">%15 OFF</p>
          <p>Envio gratis</p>
          <p class="description">Teclado Apple ultima generacion</p>
        </div>
      </div>
      <div class="offersCards">
        <img class="offersCardsImage" src="/images/img/products/img-apple-magic-keyboard.jpg" alt="">
        <div>
          <p class="price">$41.500</p>
          <p class="off">%15 OFF</p>
          <p>Envio gratis</p>
          <p class="description">Teclado Apple ultima generacion</p>
        </div>
      </div>
    </div>

    
  </body>
</html>
