<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <nav>
      <a href="">hello</a>
      <h2>hola</h2>
      <form action="">
        <label for=""></label>
        <input type="mail">
      </form>
      <img src="../../public/images/users/avatar-1611016291165.png" alt="usuario" >
    </nav>
  </body>
</html>
