<%- include('./partials/head') %>
<%- include('./partials/header') %>  


<body class="body-register">
    <h3>Completa con los datos de tu cuenta</h3>
    <div class="form-body">
        <form class="form-boxes" action="/login" method="POST">
            <div class="form-box">
                <label class="form-box-label"  for="mail">E-mail</label>
                <input class="form-box-input" type="email" id="mail" name="mail" >
            </div>
            <div class="form-box">
                <label class="form-box-label" for="pass">Clave</label>
                <input class="form-box-input" type="password" id="pass" name="pass">
            </div>
            
            
            <button class="button">Ingresa</button>

            <p>En caso de no tener una cuenta hace click <a href="/register">ACA</a> </p>
            
        </form>


    </div>
    
    
</body>

<%- include('./partials/footer') %>